* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 94%;
}

img {
	border: none;
}

/* SPLASH/INVITE PAGE STYLES  */

#splash_background {
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: absolute;
	z-index: 0;
	height: 100%;
	overflow: hidden;
}

.splash_bg {
	width: 100%;
}
	
#splash_content {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 99%;
	text-align: center;	
	z-index: 2;	
}

#splash_image {
	position: absolute;
	top: 0px;
	left: 0px;	
	width: 99%;
	text-align: center;
	z-index: 2;
}

#splash_form {
	position: relative;
	top: 0px;
	left: 0px;	
	margin-top: 18%;
	z-index: 3;
	width: 99%;
	text-align: center;
}

.splash_image {
	width: 62%;
}

.splash_image_info {
	width: 30%;
}

.splash_button {
	width: 4%;
	vertical-align: middle;
}

.splash_email_field {
	padding: 5px;
	background: #B8E6D6;
	border-top: 2px solid #77AD99;
	border-left: 2px solid #77AD99;
	border-right: 1px solid #82BAA7;
	border-bottom: 1px solid #82BAA7;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	vertical-align: middle;
	color: #206648;
	font-weight: bold;
	font-size: 120%;
}

.splash_icons {
	padding: 2px;
	width: 2%;
}

/* GENERAL TEXT STYLES */

.successText {
	color: #206648;
	font-family: arial, helvetica;
	font-weight: bold;
}

/* HACK for splash_form top margin*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
#splash_form { margin-top: 18%; }
}
